<div class="weather-app">
  <h1>Previsão do Tempo</h1>
  <div class="search-section">
    <div class="search-container">
      <input
        matInput
        [(ngModel)]="city"
        placeholder="Digite o nome da cidade"
        class="city-input"
        (keyup.enter)="searchWeather()" 
      />
      <button mat-icon-button (click)="searchWeather()"> 
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <h1 class="city-name">{{ weatherData?.name}}</h1>

  <div class="current-weather">
    <h2 class="temperature">{{ weatherData?.main.temp }}°</h2>
    <p class="description">{{ weatherData?.weather[0].description }}</p>
    <img
      *ngIf="weatherData?.weather[0].icon"
      [src]="'http://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'"
      alt="Ícone do Clima"
    />
  </div>

  <div class="temp-wrapper">
    <div class="temp-details">
      <p>Máx.: {{ weatherData?.main.temp_max }}°</p>
      <p>Mín.: {{ weatherData?.main.temp_min }}°</p>
    </div>
  
    <div class="other-details">
      <p>Umidade: {{ weatherData?.main.humidity }}%</p>
      <p>Vento: {{ weatherData?.wind.speed }} km/h</p>
    </div>
  </div>

  <div *ngIf="loading" class="loading">Carregando...</div>

  
</div>
