.weather-app {
  text-align: center;
  color: white;
  background-color: #283a50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;

  .search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .search-container {
    display: flex;
    align-items: center;
  
    input {
      width: 200px; 
      height: 30px;
      border: none;
      border-bottom: 1px solid white;
      background: transparent;
      color: white;
      outline: none;
      padding: 0 8px; 
  
      &::placeholder {
        color: white;
        opacity: 1;
      }
  
      &::-ms-input-placeholder {
        color: white;
      }
    }
  
    button {
      color: white;
      margin-left: 8px; 
    }
  }
  
  .temp-wrapper {
    background-color: #0a1d349c;
    border-radius: 16px;
    padding: 20px;
    max-width: 270px;
  }

  .city-name {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;

    .temperature {
      font-size: 4rem;
      margin: 0;
    }

    .description {
      font-size: 1.2rem;
    }

    img {
      width: 100px;
    }
  }

  .temp-details {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    p {
      margin: 0;
    }
  }

  .other-details {
    margin-top: 1rem;
    p {
      margin: 0.5rem 0;
    }
  }
}
